<documentationOf typeCode="DOC">
  <serviceEvent classCode="PCPR">
    <!-- care provision -->
    <effectiveTime>
      <low nullFlavor="UNK"/>
      <high nullFlavor="UNK"/>
    </effectiveTime>
    <!-- You can include multiple performers, each with an NPI, TIN, CCN. -->
    <performer typeCode="PRF">
				<assignedEntity>
					<!--This is the provider NPI-->
					<!--NPI may not be applicable, hospitals may submit nullFlavor-->
					<id root="2.16.840.1.113883.4.6" nullFlavor="NA" />
					<!--TIN may not be applicable, hospitals may submit nullFlavor-->
					<representedOrganization>
						<id root="2.16.840.1.113883.4.2" nullFlavor="NA" />
					</representedOrganization>
				</assignedEntity>
			</performer>
  </serviceEvent>
</documentationOf>