<documentationOf typeCode="DOC">
  <serviceEvent classCode="PCPR">
    <!-- care provision -->
    <effectiveTime>
      <low nullFlavor="UNK"/>
      <high nullFlavor="UNK"/>
    </effectiveTime>
    <!-- You can include multiple performers, each with an NPI, TIN, CCN. -->
    <performer typeCode="PRF">
      <time>
        <low nullFlavor="UNK"/>
        <high nullFlavor="UNK"/>
      </time>
    		<assignedEntity>
			              <assignedPerson>
                        <name>
                            <given></given>
                            <family></family>
                        </name>
                    </assignedPerson>
                    <representedOrganization>
                        <id root="2.16.840.1.113883.4.2" nullFlavor="NA" />
                    </representedOrganization>

		</assignedEntity>
	</performer>
  </serviceEvent>
</documentationOf>


  
